<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
   {{>navbar}}

</div>
        </div>

    </header>
    <main>
        <br>
        <br>
        <h1 >WELCOME TO <Br>NATIONAL INSTITUTE OF TECHNOLOGY <Br> CALICUT</h1>
        <h2 >WE ARE GROUP OF MERN STACK DEVELOPER</h2>
    </main>
   
  
   
</body>
</html>